html, body, .alex-wrap {
  height: 100%; }

header, a, a:hover {
  color: #fff; }

.empty {
  height: 150px; }

body {
  min-width: 320px; }

a {
  font: 20px "Montserrat";
  color: #000;
  text-transform: uppercase;
  letter-spacing: 6px; }
  a:hover, a:focus {
    color: #000;
    text-decoration: none;
    outline: 0;
    border: 0; }

h3.error {
  padding: 70px 30px 270px 5%; }

h2, h2 a {
  font: 88px "PlayfairDisplay-Black" !important;
  margin-bottom: 20px;
  letter-spacing: normal;
  text-transform: capitalize; }

.alex-overlay:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.8) !important;
  z-index: 9999; }

.monser-gray, .foot-menu a {
  font: 20px "Montserrat";
  text-transform: uppercase;
  color: #a3a3a3;
  letter-spacing: 5px; }
  .monser-gray .shop-big-menu-btn, .foot-menu a .shop-big-menu-btn {
    padding: 25% 0; }

.shop-big-menu-btn img {
  margin-left: 30px; }

.shop-big-menu-btn img {
  cursor: pointer; }

.header-top {
  margin: 40px 0; }
  .header-top .cart {
    background: url("../img/shop/cart.png") no-repeat;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-right: 80px;
    position: relative;
    cursor: pointer; }
    .header-top .cart span {
      position: absolute;
      bottom: -5px;
      right: -14px;
      background: #000;
      color: #fff;
      border-radius: 17px;
      width: 35px;
      height: 35px;
      padding: 8px 4px 0 0;
      font-weight: bold;
      font: 16px "Montserrat";
      letter-spacing: 2px; }
  .header-top .profile {
    background: url("../img/shop/profile.png") no-repeat;
    width: 45px;
    height: 45px;
    display: inline-block;
    cursor: pointer;
    margin-right: 15px; }
  .header-top .shop-btn-mobile {
    line-height: 47px; }
    .header-top .shop-btn-mobile img {
      cursor: pointer; }

h1.main-name {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font: 40px "Ailerons";
  padding: 0; }

.top-menu {
  display: none;
  position: absolute;
  top: 36%;
  background-color: #fff;
  width: 100%;
  z-index: 9999; }
  .top-menu .close-top-menu {
    top: 123px;
    position: absolute;
    left: 6%;
    cursor: pointer; }
  .top-menu ul {
    text-align: center;
    margin-bottom: 0; }
    .top-menu ul li {
      padding-right: 70px; }
      .top-menu ul li:hover .vert-line {
        visibility: visible; }
      .top-menu ul li:hover a {
        color: #000;
        text-decoration: none; }
      .top-menu ul li:last-child {
        padding-right: 0; }
  .top-menu a {
    font: 20px "Montserrat";
    text-transform: uppercase;
    color: #999; }
  .top-menu .vert-line {
    visibility: hidden;
    height: 65px;
    width: 3px;
    background-color: #000;
    display: block;
    margin: 30px auto 40px auto; }

.mob-menu {
  position: absolute;
  background-color: #fff;
  height: 100%;
  top: 0;
  display: blcok;
  z-index: 9999;
  width: 0;
  transition: 0.5s;
  overflow-x: hidden; }

.show_mob_menu {
  width: 100%; }

.show_mob_menu, .mob-menu {
  display: block; }
  .show_mob_menu ul, .mob-menu ul {
    text-align: center;
    margin-top: 50px;
    padding-left: 0; }
  .show_mob_menu li, .mob-menu li {
    margin-top: 20px; }
  .show_mob_menu a, .mob-menu a {
    font: 20px "Montserrat";
    text-transform: uppercase;
    color: #999; }
    .show_mob_menu a:hover, .mob-menu a:hover {
      text-decoration: none;
      color: #000; }
  .show_mob_menu a, .mob-menu a {
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap; }
  .show_mob_menu li:hover a:before, .show_mob_menu li:hover a:after, .mob-menu li:hover a:before, .mob-menu li:hover a:after {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    width: 65px;
    height: 2px;
    vertical-align: middle;
    background: black;
    margin: 0 15px 0 5px; }
  .show_mob_menu .close-mob-menu, .mob-menu .close-mob-menu {
    position: absolute;
    left: 50%;
    cursor: pointer;
    bottom: 10%;
    margin-left: -21px; }

#owl-shop-slider {
  overflow: hidden;
  width: 96%;
  margin-left: 4%; }
  #owl-shop-slider .owl-wrapper-outer {
    position: relative;
    overflow: hidden;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }
    #owl-shop-slider .owl-wrapper-outer .grayscale {
      opacity: 0.4; }
    #owl-shop-slider .owl-wrapper-outer img {
      z-index: 1;
      position: relative; }
  #owl-shop-slider .slider-text {
    position: absolute;
    top: 43%;
    padding: 0 17%;
    z-index: 3;
    display: block; }
    #owl-shop-slider .slider-text h2, #owl-shop-slider .slider-text a {
      display: block;
      color: #fff; }
  #owl-shop-slider .owl-controls {
    position: absolute;
    right: 0;
    top: 34%;
    z-index: 3; }
  #owl-shop-slider .owl-page {
    width: 15px;
    height: 1px;
    color: blue;
    background: #fff;
    margin: 40px 50px 40px 0;
    position: relative; }
    #owl-shop-slider .owl-page .num {
      color: #fff;
      font: 18px "Montserrat-Light";
      position: absolute;
      right: 41px;
      top: -9px;
      letter-spacing: 4px; }
  #owl-shop-slider .owl-page.active {
    height: 4px;
    margin: 45px 0 45px 36px;
    width: 28px; }

/* ************ FOOTER *************** */
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 170px 0 155px 0; }
  footer .fa {
    font-size: 30px; }
  footer .soc-network a {
    padding-right: 30px; }
    footer .soc-network a:last-child {
      padding-right: 0; }
  footer .soc-network a {
    color: #fff; }

.foot-menu {
  margin-top: 95px; }
  .foot-menu li {
    margin-right: 50px; }
    .foot-menu li:last-child {
      margin-right: 0 !important; }
  .foot-menu a:hover {
    color: #fff; }

/* ************ SHOP CATEGORIES *************** */
.shop-categories {
  margin: 80px 0 120px 0;
  position: relative; }
  .shop-categories .single-link {
    position: absolute;
    bottom: 15%;
    margin-left: 35px;
    font: 40px "Montserrat" !important;
    text-transform: uppercase;
    letter-spacing: 10px;
    display: block; }
  .shop-categories h2 {
    font: 40px "Montserrat" !important;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 15px;
    margin-top: 0; }
  .shop-categories p {
    font: 18px "Montserrat";
    letter-spacing: 12px;
    margin-bottom: 20px; }

.handbags-cat, .shoes-cat, .sunglasses-cat, .perfume-cat {
  padding: 30px 35px;
  position: relative; }
  .handbags-cat a:hover, .shoes-cat a:hover, .sunglasses-cat a:hover, .perfume-cat a:hover {
    color: #b7b4b4; }

.handbags-cat, .shoes-cat {
  margin-bottom: 120px; }

.handbags-cat {
  width: 540px;
  height: 600px;
  background: #000; }
  .handbags-cat img {
    position: absolute;
    bottom: 60px; }

.handbags-cat * {
  color: #fff; }

.shoes-cat {
  width: 552px;
  height: 970px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,f5f5f5+100 */
  background: #f8f8f8;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f5f5f5 100%);
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #f5f5f5 100%);
  background: linear-gradient(to bottom, #f8f8f8 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f5f5f5',GradientType=0 ); }
  .shoes-cat img {
    position: absolute;
    bottom: 60px;
    left: 0;
    top: 180px; }

.sunglasses-cat {
  background: #f0f0f0;
  width: 700px;
  height: 480px; }
  .sunglasses-cat img {
    position: absolute;
    left: -40px;
    bottom: 65px; }

.perfume-cat {
  background: #f7d5d3;
  width: 552px;
  height: 600px; }
  .perfume-cat img {
    position: absolute;
    bottom: 0;
    right: 0; }
  .perfume-cat * {
    color: #fff; }

.shop-cat-page .shop-big-menu-btn, .single-product .shop-big-menu-btn, .cart-page .shop-big-menu-btn, .shop-home-page .shop-big-menu-btn, .empty-page .shop-big-menu-btn {
  background: #e5e5e5;
  height: 800px;
  padding: 0;
  position: relative; }
  .shop-cat-page .shop-big-menu-btn img, .single-product .shop-big-menu-btn img, .cart-page .shop-big-menu-btn img, .shop-home-page .shop-big-menu-btn img, .empty-page .shop-big-menu-btn img {
    top: 50%;
    position: relative;
    margin-top: -25px; }

.cart-page .shop-big-menu-btn, .empty-page .shop-big-menu-btn {
  height: 650px !important; }

.shop-home-page .shop-big-menu-btn, .empty-page .shop-big-menu-btn {
  background: #fff; }

.shop-cat-page h2.title-category, .single-product .block-right h3, .single-product .wrap-price-cart p, .cart-page .wrap_cart h3 {
  font: 29px "Montserrat" !important;
  text-transform: uppercase;
  letter-spacing: 10px; }

.shop-cat-page h2.title-category {
  text-align: center;
  margin: 30px 0; }
.shop-cat-page .prod-no-slider {
  background: #e5e5e5;
  overflow: hidden;
  text-align: center;
  padding: 70px 0;
  min-height: 480px; }
  .shop-cat-page .prod-no-slider .product {
    margin-bottom: 120px; }
    .shop-cat-page .prod-no-slider .product:last-child {
      margin-bottom: 0; }
  .shop-cat-page .prod-no-slider img {
    margin: 0 auto; }
  .shop-cat-page .prod-no-slider h2 {
    font-size: 38px !important;
    margin-top: 50px; }

#owl-shop-products {
  background: #e5e5e5;
  overflow: hidden;
  height: 800px; }
  #owl-shop-products .product {
    text-align: center;
    margin-top: 210px;
    margin-left: -50px; }
    #owl-shop-products .product h2 {
      color: #000;
      font-size: 38px !important; }
  #owl-shop-products .wrap_prod_img {
    min-height: 270px;
    position: relative;
    margin-bottom: 60px;
    margin-left: 15px;
    margin-right: 15px; }
    #owl-shop-products .wrap_prod_img img {
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      display: block;
      left: 0;
      right: 0;
      max-height: 270px;
      width: auto; }
  #owl-shop-products .owl-controls {
    padding-top: 80px; }
    #owl-shop-products .owl-controls .owl-page {
      padding: 10px 15px; }
  #owl-shop-products .owl-controls .owl-page span {
    width: 97px;
    height: 3px;
    background: #000;
    opacity: 0.2; }
  #owl-shop-products .owl-controls .active span {
    opacity: 1; }
  #owl-shop-products .owl-buttons {
    display: none; }
  #owl-shop-products .owl-pagination {
    margin-left: -9%; }

.single-product .block-left .single-main-img, .block-right {
  height: 600px;
  position: relative; }

.single-product h1.main-name {
  margin-right: -8%; }
.single-product .shop-big-menu-btn {
  height: 800px; }
.single-product .shop-big-menu-btn img {
  position: absolute;
  margin-top: 0;
  left: 25px;
  cursor: pointer; }
.single-product .row {
  height: 100%; }
.single-product header {
  position: absolute;
  width: 100%; }
.single-product .header-top {
  position: relative;
  z-index: 2; }
.single-product .block-left {
  background: #e5e5e5;
  min-height: 800px;
  height: 100%; }
  .single-product .block-left .single-main-img img {
    margin: auto;
    bottom: 0;
    position: absolute; }
  .single-product .block-left .thumbs {
    margin-top: 80px; }
    .single-product .block-left .thumbs img {
      width: 100%;
      margin: auto; }
    .single-product .block-left .thumbs > div {
      position: relative;
      z-index: 1;
      width: 71px;
      height: 80px;
      line-height: 80px;
      float: left;
      margin-right: 25px;
      margin-bottom: 10px;
      cursor: pointer; }
      .single-product .block-left .thumbs > div:hover:before {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        z-index: 2; }
.single-product .shop-single-imgs {
  width: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto !important; }
.single-product .block-right {
  overflow: hidden;
  position: relative;
  padding: 0 0 0 35px !important;
  height: 765px; }
  .single-product .block-right .wrap-cat-cart {
    position: absolute;
    bottom: 0; }
  .single-product .block-right h3 {
    color: #ddd;
    margin-bottom: 40px; }
  .single-product .block-right h2 {
    font-size: 60px !important; }
  .single-product .block-right .dop-info {
    padding-top: 24%; }
  .single-product .block-right a {
    display: block;
    font-size: 16px;
    padding-bottom: 20px; }
.single-product .cat-and-title {
  margin: 30% 0 0 0;
  margin: 0 !important; }
.single-product .wrap-price-cart {
  margin-top: 110px; }
  .single-product .wrap-price-cart p {
    margin-bottom: 25px; }

.cart-page .shop-big-menu-btn {
  background: #fff; }
.cart-page .prod_title h2, .cart-page .prod_title a {
  font: bold 23px "Montserrat-Light" !important;
  margin-bottom: 11px !important; }
.cart-page .prod_title p, .cart-page .wrap_cart th, .cart-page .table-mobile .first-td {
  font: bold 16px "Montserrat";
  text-transform: uppercase;
  letter-spacing: 4px; }
.cart-page .wrap_cart {
  padding-left: 40px; }
  .cart-page .wrap_cart .prod_title {
    padding-left: 45px; }
  .cart-page .wrap_cart h3 {
    color: #ddd;
    text-align: center;
    margin-bottom: 30px; }
  .cart-page .wrap_cart td {
    vertical-align: middle;
    padding: 20px 0; }
.cart-page .table-desctop {
  min-height: 500px; }
  .cart-page .table-desctop td {
    height: 90px; }
  .cart-page .table-desctop table {
    border-bottom: 1px solid #f0f2f7 !important; }
  .cart-page .table-desctop th {
    color: #fff; }
    .cart-page .table-desctop th:first-child {
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
      padding-left: 20px; }
    .cart-page .table-desctop th:last-child {
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px; }
  .cart-page .table-desctop tr:first-child {
    background: #000;
    border-radius: 5px; }
.cart-page .del-product, .cart-page .price a.remove-prod {
  float: right;
  padding-right: 50px;
  padding-top: 4px;
  cursor: pointer; }
.cart-page .cart-img {
  width: 114px;
  position: relative; }
.cart-page .price span, .cart-page .str-total-sum, .cart-page .str-cart-action a, .cart-page input {
  font: bold 16px "Montserrat-Light";
  text-transform: uppercase; }
.cart-page .price span {
  font-size: 20px; }
.cart-page .str-cart-action {
  margin-top: 120px; }
.cart-page .str-total-sum {
  width: 430px;
  float: right;
  margin-top: 50px; }
  .cart-page .str-total-sum span {
    font-size: 26px;
    padding-left: 20px;
    font-weight: bold; }
.cart-page .proc-checkout, .cart-page .button {
  background: #000 !important;
  padding: 15px 40px;
  color: #fff;
  display: table;
  float: right;
  margin-top: -20px;
  color: #fff !important; }
.cart-page .wrap_quantity {
  border: 1px solid #ccc;
  overflow: hidden;
  text-align: center;
  border-radius: 25px;
  width: 137px; }
  .cart-page .wrap_quantity input {
    padding: 0 5px 0 17px;
    border: 0;
    outline: 0; }
  .cart-page .wrap_quantity .minus, .cart-page .wrap_quantity .plus {
    font: bolder 25px Verdana;
    cursor: pointer; }
  .cart-page .wrap_quantity .minus, .cart-page .wrap_quantity .plus, .cart-page .wrap_quantity input {
    float: left;
    width: 45px;
    line-height: 40px;
    height: 40px; }

.table-mobile {
  border-bottom: 1px solid #f0f2f7;
  padding-bottom: 20px; }
  .table-mobile td {
    border: 0 !important; }
    .table-mobile td:nth-child(2) {
      padding-left: 50px; }
  .table-mobile .first-td {
    color: #fff;
    background: #000;
    padding-left: 20px !important;
    width: 30%; }

input, select, .select2-choice {
  border: 0 !important;
  outline: 0;
  display: block;
  font: bold 16px "Montserrat-Light";
  text-transform: lowercase !important;
  padding: 10px 13px !important;
  background: #f2f2f2 !important;
  border-radius: 5px;
  color: #9a9a9a;
  letter-spacing: 0 !important; }

.wrap_quantity input {
  color: #000 !important; }

.checkout input, .checkout select, .checkout .select2-choice {
  text-transform: capitalize !important; }

.woocommerce {
  padding: 50px 30px;
  min-height: 480px;
  overflow: hidden;
  min-height: 500px; }
  .woocommerce form .required {
    visibility: hidden; }

form.login, form.register {
  padding: 0 15px !important;
  border: 0 !important;
  margin: 0 !important;
  border-radius: 0; }

label {
  font: 16px "Montserrat";
  color: #000;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 20px; }

.empty-page .button {
  float: none !important;
  margin-top: 45px !important;
  letter-spacing: 6px !important;
  text-transform: uppercase !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  background: #000 !important;
  color: #fff !important;
  padding: 15px 40px !important; }
.empty-page p {
  font-size: 21px; }

input[name="update_cart"] {
  margin-top: 40px !important;
  letter-spacing: 6px !important;
  text-transform: uppercase !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  background: #000 !important;
  color: #fff !important;
  padding: 15px 40px !important; }

.return-to-shop .button {
  float: none !important; }

.woocommerce-MyAccount-navigation {
  margin-bottom: 50px; }

.woocommerce-MyAccount-content .button {
  margin-top: 0 !important; }

.woocommerce-checkout {
  overflow: hidden;
  margin: 50px 0; }
  .woocommerce-checkout .clear {
    clear: none; }
  .woocommerce-checkout .name-phone-email *, .woocommerce-checkout .country-city-zip * {
    width: 100% !important; }
  .woocommerce-checkout .name-phone-email p, .woocommerce-checkout .country-city-zip p {
    float: left; }

.woocommerce-billing-fields {
  margin-left: -15px; }
  .woocommerce-billing-fields p {
    padding-right: 35px !important; }

.select2-arrow {
  left: 45%; }

input#rememberme {
  margin-right: 10px;
  display: inline;
  margin-left: 30px;
  margin-top: 8px; }

.wrap_quantity input {
  background: none !important; }

.wrap-circle-check {
  width: 230px;
  height: 230px;
  border: 1px solid #000;
  display: block;
  border-radius: 115px;
  margin: 120px auto 0; }

.circle-check {
  position: relative;
  width: 230px;
  height: 230px; }
  .circle-check .demo-icon, .circle-check img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: auto;
    display: table !important; }

h2.checkout-receive {
  font-size: 60px !important;
  text-align: center;
  margin-top: 50px; }

.woocommerce table.shop_table {
  border-left: 0 !important;
  border-right: 0 !important;
  padding-bottom: 7px; }

/*# sourceMappingURL=main-shop.css.map */
