@media only screen and (max-width : 1600px) {

  .top-menu .vert-line{
    margin: 25px auto 25px auto;
  }
  .top-menu .close-top-menu{
    top: 107px;
    left:3%;
  }
  
    .foot-menu a{ font-size: 17px; letter-spacing: 5px; }

    .shop-categories .single-link{ bottom: 8%; }

    .shop-cat-left > div, .shop-cat-right > div{ max-width: 90%; }
    .sunglasses-cat img { width: 95%; }
    .shoes-cat img { width: 106%; }
    .handbags-cat img{ width: 90%; }
    .perfume-cat img{ width: 73%; }

    .shoes-cat {
      height: 800px;
    }
/*    
    .sunglasses-cat {
        height: 380px;
    }

    .handbags-cat, .perfume-cat {
      height: 500px;
    }
*/

   #owl-shop-products .product { margin-left: -30px; }

    .single-product .shop-big-menu-btn img{ width: 82px; }
    .single-product .cat-and-title {
        /*margin: 26% 0 0 0;*/
        /*margin: 41% 0 0 0;*/
        margin: 31% 0 0 0;
    }
    .single-product .block-right {
        padding: 10% 0 0 35px;
    }

    .single-product .wrap-price-cart {margin-top: 100px;}

  .single-product .shop-single-imgs {

      margin: 48% auto 0 auto;
  }

}

@media only screen and (max-width : 1500px) {

 

}

@media only screen and (max-width : 1366px) {

   .top-menu .vert-line {
      height: 45px;
   }

   .top-menu a{font-size:17px;}

   .top-menu ul li{
    padding-right: 45px;
   }

   .top-menu .close-top-menu{
      top:91px;
      width: 27px;
   }

  
  .header-top .cart { margin-right: 45px; }
   .header-top .shop-btn-mobile{ line-height: 40px; }
   #owl-shop-slider .slider-text{ padding: 0 15%; }
   #owl-shop-slider .slider-text h2{ line-height: 64px !important; }
   .shop-big-menu-btn img{ width: 75px; margin-left: 20px;}


    footer{ padding:90px 0 75px 0; }
  .home-movies h3, .monser-gray, .foot-menu a, .blog-img-text h3, .blog-img-text a, .blog .monser-gray { font-size: 16px;}

   a { font-size: 16px !important; }
   .foot-menu {  margin-top: 75px; }

  .monser-gray, .foot-menu a{ font-size: 16px; }

  .shop-categories .single-link { font-size: 30px !important;}
 .shop-categories h2{
    font-size: 30px !important;
  }

  .single-product .block-left .thumbs > div {
    margin-right: 14px;
    margin-bottom: 9px;
    width: 47px;
    height: 57px;
    line-height: 57px;
  }
  .single-product .wrap-price-cart {
      /*margin-top: 96px;*/
      margin-top: 92px;
  }

  .single-product .cat-and-title {
    margin: 32% 0 0 0;
  }
    .single-product .shop-single-imgs { margin: 46% auto 0 auto; }
    .single-product .block-right h2 {
      font-size: 54px !important;
  }

  .single-product  .cat-and-title h3{ margin-bottom: 30px; }

   .cart-page .str-total-sum { margin-top: 200px; }
   .cart-page .wrap_cart { margin-bottom: 30px; }

   .single-product .block-left .single-main-img, .block-right {height: 520px;}
  .single-product  .block-right { height: 685px; }
  .single-product .block-left .single-main-img img{ max-height: 470px; }

.cart-page .shop-big-menu-btn{
    height: 400px;
}

.cart-page .str-cart-action {
    margin-top: 60px;
}

.cart-page .table-desctop {
    min-height: 300px;
  }

  .cart-page .str-total-sum {
    margin-top: 50px;
}

  .cart-page .del-product, .cart-page .price a.remove-prod{ padding-right: 15px; }

  #owl-shop-products .owl-controls { padding-top: 40px;}

}

@media only screen and (max-width : 1200px) {

  .top-menu ul li{ padding-right: 32px; }
  .top-menu ul li a{ letter-spacing: 5px; }

  .header-top .cart { margin-right: 35px; }
  .header-top .profile {margin-right: 0;}
  #owl-shop-slider{ width: 100%; margin-left: 0; }

  #owl-shop-slider .grayscale{ overflow: hidden; min-height: 700px;  height: 700px; }
  #owl-shop-slider img{  width: 1686px; max-width: inherit; left:-20%; top:-10%;}

  .foot-menu a {
      font-size: 16px;
      letter-spacing: 3px;
  }
  .shop-categories{ margin-top: 90px; }
  .shop-categories .single-link { font-size: 30px !important; bottom: 12%; }
 .shop-categories h2{
    font-size: 30px !important;
    margin-bottom: 6px;
  }
  .shop-categories p{
     margin-bottom: 10px;
  }

  .shoes-cat {
      height: 650px;
    }
    
    .sunglasses-cat {
        height: 330px;
    }

    .handbags-cat, .perfume-cat {
      height: 500px;
    }

  .perfume-cat img {
      width: 64%;
  }
  .handbags-cat img { bottom: 40px; }
  .sunglasses-cat img { bottom: 45px; }
  
     #owl-shop-products .product,  #owl-shop-products .owl-pagination { margin-left: 0; }

     /*#owl-shop-products .wrap_prod_img img{ width: 88%; }*/

  .single-product .block-right {
      padding: 13% 0 0 35px;
  }
  .shop-cat-page h2.title-category, 
  .single-product .block-right h3, .single-product .wrap-price-cart p {font-size: 24px !important;}
  .single-product .block-right h3 { margin-bottom: 20px; }
  .single-product .shop-single-imgs { margin: 58% auto 0 auto; width: 80%;}

  .cart-page .del-product, .cart-page .price a.remove-prod{ padding-right: 0; }

}

@media only screen and (max-width : 992px) {
  
  .header-top .cart { margin-right: 15px; }
    #owl-shop-slider .slider-text{ top:36%; }

  #owl-shop-slider .slider-text h2{ line-height: 68px !important; }
     /*#owl-shop-slider .slider-text * {padding-right:  20%;}*/

    .foot-menu li{ display: block !important; margin-right: 0 !important; margin-bottom: 20px; }
    .single-product .shop-single-imgs {  width: 60%;}
    
}

@media only screen and (max-width : 991px) {
  
      .shop-categories .single-link { position: static; margin-top: 80px; margin-left:0; text-align: center; }
    .handbags-cat, .shoes-cat, .sunglasses-cat, .perfume-cat{ margin: 80px auto; }
      .handbags-cat {margin-top: 0;}
     /*.shop-categories img { margin-bottom: 60px;}*/
    .shop-cat-right > div, .shop-cat-right, .shop-cat-left { float: none !important; }
    .shoes-cat img{ top:140px; }
    .handbags-cat, .perfume-cat {
      height: 580px;
    }
    .sunglasses-cat {
        height: 400px;
    }
    .perfume-cat { margin-bottom: 0; }

    #owl-shop-products .wrap_prod_img img { width: auto; }
   .shop-cat-page h2.title-category {  margin-bottom: 50px }
  
  .single-product .cat-and-title {
      margin: 70px 0 0 0 !important;
  }
   .single-product .block-right {padding: 50px 0 0 35px;}
  .single-product .wrap-price-cart, .single-product .dop-info {
      margin-top: 50px;
  }
  
  .single-product .block-left{ height: 500px; }
  .single-product .block-left .thumbs {
    margin: 50px 0 60px 0;
  }
    .single-product .block-left{ /*height: 880px;*/  height: auto; min-height: auto;}
    .single-product .shop-single-imgs{ position: relative; margin-top: 23%; }
    .single-product h1.main-name {
        margin-right: 0;
    }

  .single-product header {
    z-index: 2;
    background: #fff;
  }

  .single-product .shop-single-imgs{ padding-bottom: 40px; }
  .single-product .block-right {
    padding-bottom: 50px !important;
  }

    .cart-page .str-total-sum {
      width: 100%
      float:none;
      margin-top: 40px;
    }

  .cart-page .proc-checkout {

       float: none; 
       margin-top: 0; 
    }

  .cart-page .str-cart-action {
      margin-top: 60px;
      text-align: center;
  }
   .cart-page .proc-checkout{
      margin: 60px auto;
  }

    .cart-page .str-total-sum{
      float: none;
      text-align: center;
      width: 100%;
    }

    .cart-page .wrap_cart {
        padding-left: 15px !important;
    }
    
    .cart-page .del-product{
         position: absolute;
        top: 0;
        right: 0;
    }

/*    .block-left *{
      position: static !important;
    }*/
    .single-product header {
      position: static !important;
    }

  .single-product .block-left .single-main-img{
      position: relative !important;
  }
    .single-product .block-left .single-main-img img {
      position: absolute !important;

    bottom: 0;

  }
    .single-product .block-right { height: auto;}

    .single-product .block-right * { position: static !important; }
    .single-product .block-right .dop-info { padding-top: 0;}
}


@media only screen and (max-width : 768px) {
  
  h1.main-name { font-size: 31px; }

  .shop-home-page .slider-text h2{ font-size: 70px !important; }
  .shop-home-page .slider-text a{ font-size: 16px; }
   #owl-shop-slider .slider-text{ padding: 0 20% 0 10%; }
    #owl-shop-slider .slider-text h2{ line-height: 60px !important; }
    .shop-categories .container {padding: 0;}
  .single-product .block-left .thumbs > div {
      margin-right: 20px;
      margin-bottom: 15px;
      width: 47px;
      height: 53px;
      line-height: 53px;
  }

  .single-product .shop-single-imgs {
      margin-top: 35%;
  }

  .cart-page .del-product {
      top: -13px;
      right: -15px;
  }

  .single-product .block-left .single-main-img, .block-right {
    height: 460px;
  }

  .single-product .block-left .single-main-img img{
    max-height: 420px;
        left: 0;
    right: 0;
  }

  .woocommerce {
    padding: 50px 10px;
  }

  .cart-page .del-product {
      right: 13px;
  }

}

@media only screen and (max-width : 600px) {

   .handbags-cat img{ right: -16px; }

}


@media only screen and (max-width : 480px) {
  .header-top {
    margin: 30px 0;
}
  h1.main-name { font-size: 30px; line-height: 31px;}
  .header-top .shop-btn-mobile { line-height: 36px;}
 .header-top .shop-btn-mobile img { width: 40px; }
 .header-top .cart {   background-size: cover; width: 32px; height: 29px; margin-right: 0; }
 .header-top .cart span{ width: 25px; height: 25px; border-radius: 12px; bottom:-8px; right:-4px; padding: 4px 0 0 4px; }
 .padding-left-del{ padding-left: 0 !important; text-align:left;}

  #owl-shop-slider .grayscale{ min-height: 480px;  height: 480px; }
  #owl-shop-slider img {width: 860px; top:0; left:-30%;}
  
   #owl-shop-slider .slider-text {padding: 0 21% 0 0;}
    #owl-shop-slider .slider-text h2{ line-height: 47px !important; }
    .shop-home-page .slider-text h2{ font-size: 51px !important; }

    #owl-shop-slider .owl-page.active{
      margin: 30px 0 30px 36px;
      width: 15px;
  }
   #owl-shop-slider .owl-page{
      margin: 30px 0 30px 9px;
      /*width: 25px;*/
  }
  #owl-shop-slider .owl-page .num{ right: 20px; }
    #owl-shop-slider .slider-text{ top:33%; }

    .shop-categories h2, .shop-categories .single-link {
      font-size: 23px !important;
      letter-spacing: 5px;
  }
  .shop-categories p {
    font: 14px "Montserrat";
    letter-spacing: 6px;
  }
  .shop-categories a {font-size: 14px !important;}
  .handbags-cat, .shoes-cat, .sunglasses-cat, .perfume-cat{ height: 450px; }
  .handbags-cat img {
    right: -10px;
}
.sunglasses-cat img {
    left: -19px;
  }

 .shoes-cat img {
    top: 112px;
}

  footer { padding: 100px 0; }
  .foot-menu { display: none; }
  footer .soc-network a{ padding-right: 20px; }

  .shop-cat-page h2.title-category{ font-size: 21px !important; }

  .single-product .shop-single-imgs{ width: 90%; }
  .single-product .block-left .thumbs > div {
    margin-right: 15px;
    width: 40px;
    height: 45px;
    line-height: 45px
  }
  .single-product .shop-single-imgs { margin: 30px 0 0 0 !important; width: 100%;}

  .single-product .block-right {
    padding: 50px 15px 0 15px;
  }

  .single-product .row { height: auto; }
    .single-product .block-left {  min-height: 300px;  }

  .table-mobile td:nth-child(2) {
      padding-left: 10px;
  }
  .cart-page .prod_title p, .cart-page .wrap_cart th, .cart-page .table-mobile .first-td {
      font: bold 14px "Montserrat";
  }
  .cart-page .wrap_cart .prod_title {
     padding-left: 15px;
    }

    .cart-page .wrap_cart td { padding-left: 10px !important; padding-right: 10px; }
    .cart-page .wrap_cart h3 { font-size: 20px !important; }

  .single-product .block-left .single-main-img, .block-right {
    height: 360px;
  }  
  .single-product .block-left .single-main-img img{
    max-height: 340px;

  }

  .single-product .block-right {padding: 15px !important;}
    .header-top .cart span{
      font: 14px "Montserrat";
       letter-spacing: 1px;
       width: 26x;
      height: 26px;
      border-radius: 13px;
      bottom: -11px;
      right: -3px;
      line-height: 22px;
    }
  
  .woocommerce-billing-fields p {
    padding-right: 0 !important;
  }
.checkout input, .checkout select, .checkout .select2-choice, .login input{  width: 100% !important;}

   .show_mob_menu .close-mob-menu, .mob-menu .close-mob-menu {
    bottom: 18%;
   }

}

@media only screen and (max-width : 360px) {

  .handbags-cat, .shoes-cat, .sunglasses-cat, .perfume-cat{ height: 350px; }
 .shoes-cat{ height: 360px; }


}

@media only screen and (min-width : 481px)  and (max-width : 700px){
  .single-product .shop-single-imgs {
    width: 75%;
  }
}

@media only screen and (min-width : 790px)  and (max-width : 850px){

  .single-product .shop-big-menu-btn {

      display: none;
  }

}
/*@media only screen and (min-width : 1200px)  and (max-width : 1366px){
    #owl-shop-slider .owl-wrapper-outer,#owl-shop-slider .owl-wrapper-outer img{ height: 600px; }
}
@media only screen and (min-width : 1200px)  and (max-width : 1600px){
    #owl-shop-slider .owl-wrapper-outer, #owl-shop-slider .owl-wrapper-outer img{ height: 710px; }
}

@media only screen and (min-width : 1600px)  and (max-width : 1900px){
    #owl-shop-slider .owl-wrapper-outer, #owl-shop-slider .owl-wrapper-outer img{ height: 850px; }
}*/

@media only screen and (min-width : 1367px) {
  .shop-wrap-padding{ padding-left: 40px; }
}
@media only screen and (min-width : 1201px) {

   #owl-shop-products{ padding-left: 30px; }
    #owl-shop-slider .owl-wrapper-outer{ margin-bottom: -50px; }
    #owl-shop-slider .owl-wrapper-outer img{ width: 100%; }
}
@media only screen and (min-width : 1200px) and (max-width: 1201px){

  .shop-home-page .shop-big-menu-btn{ height: 597px !important; }
}

@media only screen and (min-width : 1600px) {

  .container{ /*width: 1460px;*/  width: 1500px; }
}

@media only screen and (min-width : 992px) {

  .single-product .block-right {
    padding-right: 35px;

}

